body {
  margin-top: 50px;
}

.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  opacity: 0.9;
  background: #fff;
}

.navbar .nav-item {
  font-size: 1.2rem;
  padding-right: 1rem;
}

.navbar .nav-item .active {
  border-left: 3px solid #3292a6 !important;
}

#showcase {
  position: relative;
  background: url("../img/c_plus_plus_small.jpg");
  min-height: 550px;
}

#showcase .primary-overlay {
  background: rgba(50, 146, 166, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#logoeros {
  padding-top: 7rem;
  padding-left: 5rem;
}

.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 2px solid #ddd;
}

#projects img {
  margin-top: -50px;
}

#projects .list-group .list-group-flush {
  background: transparent;
}

#projects .card:hover {
  background: #3292a6;
  color: #fff;
}

#projects .card:hover .fab {
  color: white;
}

#projects .card:hover h3 {
  color: #fff !important;
}

#projects .card:hover .text-muted {
  color: white !important;
}

#projects .card:hover .list-group-item {
  background: transparent !important;
}

#projects .card:hover .list-group-item a {
  color: #fff;
}

#imglogoeros {
  border: 3px solid #fff;
}

@media (max-width: 768px) {
  #showcase {
    min-height: 500px;
  }

  #showcase h1 {
    font-size: 3.5rem;
  }

  .mb-resp {
    margin-bottom: 1rem;
  }
}

@media (min-width: 768px) {
  #projects .card {
    min-height: 450px;
  }

  #projects .card .card-body {
    min-height: 450px;
  }
}

.progress {
  height: 10px;
}

.progress .progress-bar {
  height: 10px;
}

@media print {
  .pagebreak {
    page-break-before: always;
  }

  /* page-break-after works, as well */
}